{% extends "reveal_layout.html" %}
{% block body %}
  <!-- reveal.js invocations go here-->
  <div class="reveal">
    <div class="slides">

  <section> <h1>{{ deck.title }}</h1> </section>
  {% for slide in deck.slides %}
    {% if not slide.embedded %}
    <section data-background="https://source.unsplash.com/random">
      <h2> {{ slide.text }} </h2>
    </section>
    {% else %}
    <section>
      {{ slide.embedded|safe }}
    </section>
    {% endif %}

  {% endfor %}

    </div>
  </div>
{% endblock %}
